<div class="flex justify-center mx-auto w-5/6">
  <div class='text-center max-w-lg'>
    <div class=" mx-auto my-20 w-full my-4">
      <h1 class="w-full text-lg font-bold my-10 border-dotted border-b-4 border-purple-200 sm:text-2xl">万年筆新規登録</h1>

      <div class="flex items-center flex-col mb-6">
        <%= image_tag 'logo.jpg', class: ' my-auto mb-6 border' %>
        <button class="btn btn-primary">画像選択</button>
      </div>

      <label class="form-control mb-5">
        <div class="label">
          <span class="label-text">Brand</span>
        </div>
        <select class="select select-primary w-full">
          <option disabled selected>メーカー名</option>
          <option>Game of Thrones</option>
          <option>Lost</option>
          <option>Breaking Bad</option>
          <option>Walking Dead</option>
        </select>        
      </label>

      <label class="form-control mb-5">
        <div class="label">
          <span class="label-text">Name</span>
        </div>
        <input type="text" placeholder="万年筆の名前" class="input border-primary" />
      </label>

      <label class="form-control mb-5">
        <div class="label">
          <span class="label-text">Nib</span>
        </div>
        <select class="select select-primary w-full">
          <option disabled selected>ペン先のサイズ</option>
          <option>Game of Thrones</option>
          <option>Lost</option>
          <option>Breaking Bad</option>
          <option>Walking Dead</option>
        </select>        
      </label>

      <label class="form-control mb-5">
        <div class="label">
          <span class="label-text">Date</span>
        </div>
        <input type="text" placeholder="購入日" class="input border-primary" />
      </label>

      <label class="form-control mb-14">
        <div class="label">
          <span class="label-text">Memo</span>
        </div>
        <textarea class="textarea textarea-primary" placeholder="感想などご自由に！"></textarea>
      </label>

      <button class="btn btn-primary px-20 mb-10 w-full">投稿</button>
      <button class="btn btn-outline btn-primary px-20 mb-10 w-full border">キャンセル</button>
    </div>
  </div>
</div>