<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>RUNTEQ BOARD APP</h1>
    <div class="p-4 space-y-2" data-theme="cupcake">
      <button class="btn btn-primary">Daisy</button>
    </div>
  </div>
</div>