<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Tailwind
</button>

<div class="p-4 space-y-2" data-theme="cupcake">
  <button class="btn btn-primary">Daisy</button>
</div>
