<% content_for(:title, t('.title')) %>
<div class="mx-auto w-5/6 max-w-lg text-center my-10">
  <h1 class="mb-4 text-lg sm:text-2xl font-bold border-dotted border-b-4 border-purple-200">My Pens</h1>
  <%= link_to "＋　新しく万年筆を登録する", new_pen_path, class: "btn bg-purple-100 hover:bg-purple-200 rounded-full mb-4" %>
  <%= render 'pens/search_select_form', url: mypage_pens_path %>
  <% if @pens.present? %>
    <%= render partial: 'shared/product_card', collection: @pens, as: :product %>
  <% else %>
    <p class="mt-8">新しく万年筆を登録しよう！</p>
  <% end %>
  <div class="my-8 sm:mt-16">
    <%= paginate @pens %>
  </div>
</div>
