<div class="flex justify-center mx-auto w-5/6 my-10">
  <div class="max-w-lg mx-auto text-center">
    <h1 class="mb-4 text-lg font-bold border-b-4 border-dotted border-purple-200 sm:text-2xl">Edit Pen</h1>
    <%= render 'form', pen: @pen %>
  </div>
</div>