<%= search_form_for @q_inks, url: url do |f| %>
  <div class="">
    <%= f.search_field :name_or_brand_or_color_cont, placeholder: "Type here", class: "input w-full shadow-inner mb-2" %>
    <div class="sm:flex sm:justify-between">
      <div class="ml-2 mb-2 bg-white p-3 shadow w-fit">
        <%= f.select :brand_eq, grouped_options_for_select(Ink::BRANDS), include_blank: 'メーカー名' %>
      </div>
      <div class="flex justify-between">
        <div class="ml-2 mb-2 bg-white p-3 shadow">
          <%= f.select :color_eq, options_for_select(Ink::COLORS), include_blank: '色' %>
        </div>
        <button type="submit" class="btn bg-blue-200 p-4 ml-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4">
            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
<% end %>