<% content_for(:title, t('.title')) %>
<div class="mx-auto w-5/6 max-w-lg text-center my-10">
  <h1 class="mb-4 text-lg sm:text-2xl font-bold border-dotted border-b-4 border-purple-200">Inks</h1>

  <% if @inks.present? %>
    <%= render partial: 'shared/product_card', collection: @inks, as: :product %>
  <% else %>
    <p>見つかりませんでした</p>
  <% end %>

  <div class="my-8 sm:mt-16">
    <div class="join border">
      <button class="join-item btn">1</button>
      <button class="join-item btn btn-active">2</button>
      <button class="join-item btn">3</button>
      <button class="join-item btn">4</button>
    </div>      
  </div>
</div>
