<footer class="footer footer-center p-10 bg-gradient-to-br from-blue-100 to-purple-100 text-base-content rounded">
  <div class="flex flex-col items-center">
    <nav class="flex flex-wrap justify-center gap-x-10 gap-y-6 md:justify-start md:gap-10">
      <%= link_to "お問い合わせ", root_path, class:"duration-100 hover:text-indigo-300" %>
      <%= link_to "利用規約", terms_of_service_path, class: "duration-100 hover:text-indigo-300" %>
      <%= link_to "プライバシーポリシー", privacy_policy_path , class: "duration-100 hover:text-indigo-300" %>
    </nav>  
  </div>
  <aside>
    <p>Copyright © INK Collection</p>
  </aside>
</footer>