<footer class="footer footer-center p-10 bg-gradient-to-r from-blue-200 to-purple-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
    <a class="link link-hover">お問い合わせ</a>
  </nav> 
  <aside>
    <p>Copyright © INK Collection</p>
  </aside>
</footer>