<footer class="footer footer-center p-10 bg-gradient-to-r from-blue-200 to-purple-200 text-base-content rounded">
  <div class="flex flex-col items-center">
    <nav class="mb-4 flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start md:gap-6">
      <%= link_to "お問い合わせ", root_path, class:"duration-100 hover:text-indigo-300" %>
      <%= link_to "利用規約", root_path, class: "duration-100 hover:text-indigo-300" %>
      <%= link_to "プライバシーポリシー", root_path , class: "duration-100 hover:text-indigo-300" %>
    </nav>  
  </div>
  <aside>
    <p>Copyright © INK Collection</p>
  </aside>
</footer>