@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FCF9F4;
  color: #2b2446;
  font-family: 'Josefin Sans', 'Zen Kaku Gothic New', sans-serif;
  /* 以下はコンテンツが少ない時にフッターを最下部に表示させるため */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  margin-top:auto;
}
